<article class="card-container" [style.background-color]="currentColor">
  <section class="card">
    <p>
      <span class="material-icons" [style.color]="currentColor"> format_quote </span>
      <span class="text" [style.color]="currentColor">{{currentQuote}}</span><br/>
      <span class="author" [style.color]="currentColor">-{{currentAuthor}}</span>
    </p>
    <div class="buttons-container">
      <div class="icon-container">
        <span class="material-icons" [style.color]="currentColor">favorite</span>
      </div>
      <button class="button" (click)="generateNewQuote()" [style.background-color]="currentColor">New Quote</button>
    </div>
  </section>
</article>